{HTML:github_implepage_header:default|default}
{HTML:github_implepage_breadcrumbs}

<section class="implepage pad-t-md pad-b-md"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-sm-offset-4 col-sm-4 text-center"> 
				<a class="" href="{PAGE:author_website}" target="_blank">
					<img src="{PAGE:author_picture}" class="img-circle img-responsive center-block" style="max-width:50px"> 
				</a> 
				<content id=""> 
					<h6>
						<div class="text-light uppercase pad-t-xxs" style="letter-spacing:0.2em">
							<small>{PAGE:author_firstname} {PAGE:author_lastname}</small>
						</div> 
					</h6> 
				</content> 
			</div> 
		</div> 
	</div> 
</section>
<section class="implepage pad-t-0 pad-b-0"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-md-offset-1 col-md-10">  
			</div> 
		</div> 
	</div> 
</section>
<section class="implepage pad-t-0 pad-b-0" style="background-color: rgb(255, 255, 255); position: relative;"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-xs-12 text-center"> 
				<content id=""> 
					<h1 class="text-5x">{PAGE:title}
					</h1> 
				</content> 
			</div> 
		</div>
	</div> 
</section>
<section class="implepage pad-t-md pad-b-md" style="background-color: rgb(255, 255, 255); position: relative;"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-md-offset-1 col-md-10 text-center"> 
				<img class="img-responsive shadow-dark-10" src="{PAGE:_image}">         
			</div>
			<div class="col-md-offset-1 col-md-10 text-center"> 
				<content id=""> 
					<p class="text-muted mar-t-xs fw-300"> 
						<small>{PAGE:_image_caption}</small>
					</p> 
				</content> 
			</div> 
		</div>
	</div> 
</section>
<section data-tags="bg-light,lead,text," style="background-color: rgb(255, 255, 255); position: relative;" class="implepage pad-t-xs pad-b-xs"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-md-offset-1 col-md-10"> 
				<content id=""> 
					<p class="lead fw-300">{PAGE:description}
					</p> 
				</content> 
			</div> 
		</div> 
	</div> 
</section>

{CONTENT:}

<section class="implepage divider-md" style="background-color: rgb(255, 255, 255); position: relative;">
</section>

{HTML:github_implepage_footer:default|default}

{HTML:js_bottom}
