{HTML:github_implepage_header:default|default|fixed-top}
<section class="implepage divider-lg"></section>
{HTML:github_implepage_breadcrumbs}

<!-- // Uncomment to enable author picture above the headline
<section class="implepage pad-t-md pad-b-md"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-sm-offset-4 col-sm-4 text-center"> 
				<a class="" href="{PAGE:author_website}" target="_blank">
					<img src="{PAGE:author_picture}" class="img-circle img-responsive center-block" style="max-width:75px"> 
				</a> 
				<content id=""> 
					<h5>
						<div class="text-light uppercase pad-t-xxs" style="letter-spacing:0.2em">
							<small>{PAGE:author_firstname} {PAGE:author_lastname}</small>
						</div> 
					</h5> 
				</content> 
			</div> 
		</div> 
	</div> 
</section>
//-->

<section class="implepage pad-t-0 pad-b-0"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-md-offset-1 col-md-10">  
			</div> 
		</div> 
	</div> 
</section>
<section class="implepage pad-t-0 pad-b-0" style="background-color: rgb(255, 255, 255); position: relative;"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-xs-12 text-center"> 
				<content id=""> 
					<h1 class="text-x5 xs-text-x3">{PAGE:title}
					</h1> 
				</content> 
			</div> 
		</div>
	</div> 
</section>
<section class="implepage pad-t-md pad-b-md" style="background-color: rgb(255, 255, 255); position: relative;"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-md-offset-1 col-md-10 text-center"> 
				<img class="img-responsive radius-5 shadow-dark-10" src="{PAGE:_image}">         
			</div>
			<div class="col-md-offset-1 col-md-10 text-center"> 
				<content id=""> 
					<p class="text-muted mar-t-xs fw-300"> 
						<small>{PAGE:_image_caption}</small>
					</p> 
				</content> 
			</div> 
		</div>
	</div> 
</section>
<section data-tags="bg-light,lead,text," style="background-color: rgb(255, 255, 255); position: relative;" class="implepage pad-t-xs pad-b-xs"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-md-offset-1 col-md-10"> 
				<content id=""> 
					<p class="lead fw-300">{PAGE:description}
					</p> 
				</content> 
			</div> 
		</div> 
	</div> 
</section>

{CONTENT:}

<section class="implepage pad-t-sm pad-b-sm" style="background-color: rgb(255, 255, 255); position: relative;">
	<div class="container">    
		<div class="row">
			<div class="col-md-offset1 col-md-10 col-lg-offset-2 col-lg-8">
				<div class="row">    
					<div class="col-xs-4 col-sm-3 col-md-2 pad-t-xxs">       
						<a class="mar-r-sm mar-b-sm text-right pad-r-xs" href="{PAGE:author_website}" target="_blank">            
							<img src="{PAGE:author_picture}" class="img-circle img-responsive center-block" style="max-width:70px">             
						</a>        
					</div>    
					<div class="col-xs-8 col-sm-9 col-md-10">       
						<a class="text-light uppercase" href="{PAGE:author_website}" target="_blank">           
							<small>{SETUP:translate_author:Author}: 
								<b>{PAGE:author_firstname} {PAGE:author_lastname}</b></small>       
						</a>        
						<div class="text-muted fw-300">           
							<small>{PAGE:author_bio}</small>       
						</div>    
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{HTML:github_implepage_footer:default|default}

{HTML:js_bottom}
